<aside class="page__aside aside">
   <div class="aside__logo divider-aside">
      Sidebar
   </div>
   <nav class="aside__nav">
      <a class="nav-button nav-button--active click" href="#">
         <span class="nav-button__icon icon"
            style="background-image: url('images/svg/dashboard/home.svg"></span>
         <span class="nav-button__text">Home</span>
      </a>
      <a class="nav-button nav-button--active click" href="#">
         <span class="nav-button__icon icon"
            style="background-image: url('images/svg/dashboard/order.svg"></span>
         <span class="nav-button__text">Orders</span>
      </a>
      <a class="nav-button nav-button--active click" href="#">
         <span class="nav-button__icon icon"
            style="background-image: url('images/svg/dashboard/product.svg"></span>
         <span class="nav-button__text">Products</span>
      </a>
   </nav>
</aside>
<header class="header">
   <div class="container">
      <div class="header__content">
         <div class="header__input">
            <input class="field header__search field--search" type="text"
               placeholder="Search">
            <span class="header__icon-search icon"
               style="background-image: url('images/svg/dashboard/search.svg"></span>
            <span class="header__icon-settings icon icon--button click"
               style="background-image: url('images/svg/dashboard/settings.svg"></span>
         </div>
         <div class="header__icon-list">
            <ul class="icon-list">
               <li class="icon-list__item click">
                  <a class="icon-list__link icon icon-signal--active" href="#"
                     style="background-image: url('images/svg/dashboard/signal.svg"></a>
               </li>
               <li class="icon-list__item click">
                  <a class="icon-list__link icon icon-translate--active"
                     href="#"
                     style="background-image: url('images/svg/dashboard/translate.svg"></a>
               </li>
               <li class="icon-list__item click">
                  <a class="icon-list__link icon icon-bell--active" href="#"
                     style="background-image: url('images/svg/dashboard/bell.svg"></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</header>
<main class="main">
   <div class="container">
      <section class="dashboard-cards">
            <div class="cards-block">
               <div class="earning earning--card card-hover">
                  <span class="earning__icon earning--icon icon"
                     style="background-image: url('images/svg/cards/earning.svg"></span>
                  <div class="earning__text">
                     <span class="earning__text-icon icon"
                        style="background-image: url('images/svg/cards/earning-arrow.svg"></span>
                     <span class="earning__value">$500.00</span>
                     <span class="earning__label">Total earning</span>
                  </div>
               </div>
               <div class="order order--card card-hover">
                  <span class="order__icon order--icon icon"
                     style="background-image: url('images/svg/cards/order.svg"></span>
                  <div class="order__text">
                     <span class="order__value">$961</span>
                     <span class="order__label">Total Order</span>
                  </div>
               </div>
               <div class="income income--card card-hover">
                  <span class="income__icon income--icon icon"
                     style="background-image: url('images/svg/cards/earning.svg"></span>
                  <div class="income__text">
                     <span class="income__value">$203k</span>
                     <span class="income__label">Total Income</span>
                  </div>
               </div>
               <div class="profit profit--card card-hover">
                  <span class="profit__icon profit--icon icon"
                     style="background-image: url('images/svg/cards/income.svg"></span>
                  <div class="profit__text">
                     <span class="profit__value">$203k</span>
                     <span class="profit__label">Total Income</span>
                  </div>
               </div>
            </div>
      </section>
      <section class="dashboard-content">
         <div class="dashboard-content__inner">
            <div class="purchase">
                  <div class="purchase__inner">
                     <strong class="purchase__title divider">Purchase list</strong>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">AirOn ProCam</span>
                              <span class="purchase__text">7/8 USB Type-C</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">132.32 EUR</span>
                              <span class="purchase__text purchase__text--warning">Not
                                 paid</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">robin@com.de</span>
                           </div>
                        </div>
                     </div>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">PHILIPS Essential</span>
                              <span class="purchase__text">HD9200/90</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">543 USD</span>
                              <span class="purchase__text purchase__text--success">Pay
                                 by Stripe</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">dima@com.ua</span>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="purchase">
                  <div class="purchase__inner">
                     <strong class="purchase__title divider">Purchase list</strong>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">AirOn ProCam</span>
                              <span class="purchase__text">7/8 USB Type-C</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">132.32 EUR</span>
                              <span class="purchase__text purchase__text--warning">Not
                                 paid</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">robin@com.de</span>
                           </div>
                        </div>
                     </div>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">PHILIPS Essential</span>
                              <span class="purchase__text">HD9200/90</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">543 USD</span>
                              <span class="purchase__text purchase__text--success">Pay
                                 by Stripe</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">dima@com.ua</span>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="purchase">
                  <div class="purchase__inner">
                     <strong class="purchase__title divider">Purchase list</strong>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">AirOn ProCam</span>
                              <span class="purchase__text">7/8 USB Type-C</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">132.32 EUR</span>
                              <span class="purchase__text purchase__text--warning">Not
                                 paid</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">robin@com.de</span>
                           </div>
                        </div>
                     </div>
                     <div class="purchase__info divider">
                        <div class="purchase__info-inner">
                           <div class="purchase__info-desc">
                              <span class="purchase__text">ID437661</span>
                              <span class="purchase__text">May 11, 2023, 14:21</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">PHILIPS Essential</span>
                              <span class="purchase__text">HD9200/90</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">543 USD</span>
                              <span class="purchase__text purchase__text--success">Pay
                                 by Stripe</span>
                           </div>
                           <div class="purchase__info-desc">
                              <span class="purchase__text">Customer</span>
                              <span class="purchase__text">dima@com.ua</span>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
         <div class="payment">
               <div class="payment__inner">
                  <strong class="payment__title divider">Payment</strong>
                  <div class="payment__form-check">
                     <div class="form-check">
                        <input class="form-check-input" type="radio"
                           name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                           Credit card
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio"
                           name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                           Debit card
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio"
                           name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                           PayPal
                        </label>
                     </div>
                  </div>
                  <div class="payment__forms-text divider">
                     <div class="form-text__wrap">
                        <label class="payment__label">Name on card</label>
                        <input class="payment__field field field--select" type="text"></input>
                     </div>
                     <div class="form-text__wrap">
                        <label class="payment__label">Credit card number</label>
                        <input class="payment__field field field--select" type="text"></input>
                     </div>
                     <div class="form-text__wrap">
                        <label class="payment__label">Expiration</label>
                        <input class="payment__field field field--select" type="text"></input>
                     </div>
                     <div class="form-text__wrap">
                        <label class="payment__label">CVV</label>
                        <input class="payment__field field field--select" type="text"></input>
                     </div>
                  </div>
                  <div class="payment__forms-select divider">
                     <div class="forms-select__wrap">
                        <label class="payment__label" for="selectOption">Country</label>
                        <select class="payment__field field field--select" id="selectOption">
                           <option disabled selected hidden>Choose...</option>
                           <option value="option1">USA</option>
                           <option value="option2">Ukraine</option>
                           <option value="option3">Canada</option>
                           <option value="option3">Australia</option>
                           <option value="option3">Germany</option>
                        </select>
                     </div>
                     <div class="forms-select__wrap">
                        <label class="payment__label" for="selectOption">State</label>
                        <select class="payment__field field field--select" id="selectOption">
                           <option disabled selected hidden>Choose...</option>
                           <option value="option1">California</option>
                           <option value="option2">Texas</option>
                           <option value="option3">Nw-York</option>
                           <option value="option3">Florida</option>
                           <option value="option3">Illinois</option>
                        </select>
                     </div>
                  </div>
                  <button class="payment__button click">Continue to checkout</button>
               </div>
      </section>
   </div>
</main>