<main class="main">
   <section class="hero">
      <div class="container">
         <div class="hero__inner">
            <div class="hero__section">
               <div class="hero__content">
                  <span class="hero__label">Slack Features</span>
                  <h1 class="hero__title">One platform for your team and your
                     work</h1>
                  <p class="hero__info">All the features of Slack work together
                     so you can, too.</p>
                  <div class="hero__buttons">
                     <a class="button btn-primary click"
                        href="https://slack.com/" target="_blank">Try for free</a>
                     <a class="button btn-outline click"
                        href="https://slack.com/" target="_blank">See all
                        features</a>
                  </div>
               </div>
               <img class="hero__img" src="/images/slack/hero-img.jpg"
                  alt="hero images" width="676" height="436">
            </div>
            <div class="hero__brands">
               <img src="/images/brands/airbnb.png" alt="airbnb"
                  class="hero__brands-img">
               <img src="/images/brands/target.png" alt="target"
                  class="hero__brands-img">
               <img src="/images/brands/uber.png" alt="uber"
                  class="hero__brands-img">
               <img src="/images/brands/onemedical.png" alt="onemedical"
                  class="hero__brands-img">
               <img src="/images/brands/newscorp.png" alt="newscorp"
                  class="hero__brands-img">
               <img src="/images/brands/va.png" alt="va"
                  class="hero__brands-img">
               <img src="/images/brands/intuit.png" alt="intuit"
                  class="hero__brands-img">
               <img src="/images/brands/sonos.png" alt="sonos"
                  class="hero__brands-img">
            </div>
         </div>
      </div>
   </section>
   <section class="features">
      <div class="container">
         <div class="features__inner">
            <div class="features__bg-decor"></div>
            <div class="features__content">
               <h2 class="features__title">Work more easily with everyone</h2>
               <p class="features__desc">Stay on the same page and make
                  decisions faster by bringing all of you work communication
                  into one place.</p>
            </div>
            <div class="features__cards">
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/connect.svg);"></span>
                  <strong class="feature__card-title">Slack Connect</strong>
                  <p class="feature__card-desc">Collaborate with teams at other
                     companies the same way you do with teams at your own.</p>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/channels.svg);"></span>
                  <strong class="feature__card-title">Channels</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/huddles.svg);"></span>
                  <strong class="feature__card-title">Huddles</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/clips.svg);"></span>
                  <strong class="feature__card-title">Clips</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/canvas.svg);"></span>
                  <strong class="feature__card-title">Canvas</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/messaging.svg);"></span>
                  <strong class="feature__card-title">Messaging</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="feature__card">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/accessibility.svg);"></span>
                  <strong class="feature__card-title">Accessibility</strong>
                  <a class="feature__card-arrow icon-arrow click" href="#"></a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="archive">
      <div class="container">
         <div class="archive__inner">
            <div class="archive__bg-decor"></div>
            <div class="archive__content">
               <h2 class="archive__title">What you need, when you need it</h2>
               <p class="archive__desc">Spend less time shuffling tabs with a
                  comprehensive message archive and
                  all your work tools at your fingertips.</p>
            </div>
            <div class="archive__cards">
               <div class="archive__card empty-card"></div>
               <div class="archive__card">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/apps.svg);"></span>
                  <strong class="archive__card-title">Apps and Integrations</strong>
                  <p class="archive__card-desc">Streamline work by connecting
                     Slack with other services like
                     Google Drive, Office 365 and
                     over 2,200 more.</p>
                  <a class="archive__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="archive__card">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/actions.svg);"></span>
                  <strong class="archive__card-title">Workflow Builder</strong>
                  <p class="archive__card-desc">Automate routine actions and
                     communication, so you can get
                     back to the kind of work only
                     humans can do.</p>
                  <a class="archive__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="archive__card">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/search.svg);"></span>
                  <strong class="archive__card-title">Search</strong>
                  <a class="archive__card-arrow icon-arrow click" href="#"></a>
               </div>
               <div class="archive__card">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/sharing.svg);"></span>
                  <strong class="archive__card-title">File sharing</strong>
                  <a class="archive__card-arrow icon-arrow click" href="#"></a>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
