<main class="main">
   <section class="hero">
      <div class="container">
         <div class="hero__inner">
            <div class="hero__section">
               <div class="hero__content">
                  <span class="hero__label">Slack Features</span>
                  <h1 class="hero__title">One platform for your team and your
                     work</h1>
                  <p class="hero__info">All the features of Slack work together
                     so you can, too.</p>
                  <div class="hero__buttons">
                     <a class="button btn-primary click"
                        href="https://slack.com/" target="_blank">Try for free</a>
                     <a class="button btn-outline click"
                        href="https://slack.com/" target="_blank">See all
                        features</a>
                  </div>
               </div>
               <img class="hero__img" src="/images/slack/hero-img.jpg"
                  alt="hero images" width="676" height="436">
            </div>
            <div class="hero__brands">
               <img src="/images/brands/airbnb.png" alt="airbnb"
                  class="hero__brands-img">
               <img src="/images/brands/target.png" alt="target"
                  class="hero__brands-img">
               <img src="/images/brands/uber.png" alt="uber"
                  class="hero__brands-img">
               <img src="/images/brands/onemedical.png" alt="onemedical"
                  class="hero__brands-img">
               <img src="/images/brands/newscorp.png" alt="newscorp"
                  class="hero__brands-img">
               <img src="/images/brands/va.png" alt="va"
                  class="hero__brands-img">
               <img src="/images/brands/intuit.png" alt="intuit"
                  class="hero__brands-img">
               <img src="/images/brands/sonos.png" alt="sonos"
                  class="hero__brands-img">
            </div>
         </div>
      </div>
   </section>
   <section class="features">
      <div class="container">
         <div class="features__inner">
            <div class="features__bg-decor"></div>
            <div class="features__content">
               <h2 class="features__title">Work more easily with everyone</h2>
               <p class="features__desc">Stay on the same page and make
                  decisions faster by bringing all of you work communication
                  into one place.</p>
            </div>
            <div class="features__cards">
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/connect.svg);"></span>
                  <strong class="feature__card-title">Slack Connect</strong>
                  <p class="feature__card-desc">Collaborate with teams at other
                     companies the same way you do with teams at your own.</p>
                  <span class="feature__card-arrow icon-arrow"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/channels.svg);"></span>
                  <strong class="feature__card-title">Channels</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/huddles.svg);"></span>
                  <strong class="feature__card-title">Huddles</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/clips.svg);"></span>
                  <strong class="feature__card-title">Clips</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/canvas.svg);"></span>
                  <strong class="feature__card-title">Canvas</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/messaging.svg);"></span>
                  <strong class="feature__card-title">Messaging</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
               <a class="feature__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="feature__card-icon icon"
                     style="background-image: url(/images/svg/feature/accessibility.svg);"></span>
                  <strong class="feature__card-title">Accessibility</strong>
                  <span class="feature__card-arrow icon-arrow click"></span>
               </a>
            </div>
         </div>
      </div>
   </section>
   <section class="archive">
      <div class="container">
         <div class="archive__inner">
            <div class="archive__bg-decor"></div>
            <div class="archive__content">
               <h2 class="archive__title">What you need, when you need it</h2>
               <p class="archive__desc">Spend less time shuffling tabs with a
                  comprehensive message archive and
                  all your work tools at your fingertips.</p>
            </div>
            <div class="archive__cards">
               <div class="archive__card empty-card"></div>
               <a class="archive__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/apps.svg);"></span>
                  <strong class="archive__card-title">Apps and Integrations</strong>
                  <p class="archive__card-desc">Streamline work by connecting
                     Slack with other services like
                     Google Drive, Office 365 and
                     over 2,200 more.</p>
                  <span class="archive__card-arrow icon-arrow click" href="#"></span>
               </a>
               <a class="archive__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/actions.svg);"></span>
                  <strong class="archive__card-title">Workflow Builder</strong>
                  <p class="archive__card-desc">Automate routine actions and
                     communication, so you can get
                     back to the kind of work only
                     humans can do.</p>
                  <span class="archive__card-arrow icon-arrow click"></span>
               </a>
               <a class="archive__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/search.svg);"></span>
                  <strong class="archive__card-title">Search</strong>
                  <span class="archive__card-arrow icon-arrow click"></span>
               </a>
               <a class="archive__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
                  <span class="archive__card-icon icon"
                     style="background-image: url(/images/svg/archive/sharing.svg);"></span>
                  <strong class="archive__card-title">File sharing</strong>
                  <span class="archive__card-arrow icon-arrow click"></span>
               </a>
            </div>
         </div>
      </div>
   </section>
   <section class="delivery">
      <div class="container">
         <div class="delivery__inner">
            <img class="delivery__img" src="/images/delivery/delivery-img.jpg"
               alt="delivery images" width="556" height="228">
            <div class="delivery__content">
               <blockquote class="delivery__content-quote">“The thing that keeps
                  us connected
                  the most is Slack. It’s a very
                  immediate and straightforward
                  method of communication, and
                  really the only channel that people
                  prefer and enjoy using.”</blockquote>
               <span class="delivery__content-img"></span>
               <span class="delivery__content-info">Will Sprunt, CIO, Deliveroo</span>
            </div>
         </div>
      </div>
   </section>
   <section class="working">
      <div class="container">
         <div class="working__title">Explore more about working in Slack</div>
         <div class="working__cards">
            <a class="working__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
               <img class="working__card-img" src="/images/working/slack.png"
                  alt="slack images" width="285" height="208">
               <span class="working__card-label">Slack Tutorials</span>
               <strong class="working__card-title">Slack 101</strong>
               <div class="working__card-learn">
                  <span class="working__card-link click">Learn more</span>
                  <span class="working__card-arrow icon-arrow click"></span>
               </div>
            </a>
            <a class="working__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
               <img class="working__card-img"
                  src="/images/working/slack-vs-email.png"
                  alt="slack-vs-email images" width="285" height="208">
               <span class="working__card-label">Slack vs. Email</span>
               <strong class="working__card-title" style="white-space: pre-line">An easier, more
                  organized way to work</strong>
               <div class="working__card-learn">
                  <span class="working__card-link click">Learn more</span>
                  <span class="working__card-arrow icon-arrow click"></span>
               </div>
            </a>
            <a class="working__card" href="https://slack.com/intl/en-gb/customer-stories" target="_blank">
               <img class="working__card-img" src="/images/working/fastly.png"
                  alt="fastly images" width="285" height="208">
               <span class="working__card-label">Customer Stories</span>
               <strong class="working__card-title" style="white-space: pre-line">How Fastly uses Slack
                  Connect to wow
                  enterprise customers</strong>
               <div class="working__card-learn">
                  <span class="working__card-link click">Learn more</span>
                  <span class="working__card-arrow icon-arrow click"></span>
               </div>
            </a>
         </div>
      </div>
   </section>
</main>
