<div class="page">
   <div class="container">
      <div class="page-block">
         <header class="header">
            <div class="header__logo">
               {{> logo}}
            </div>
            <nav class="header__nav">
               {{> nav list=header isAlineRight=true}}
            </nav>
         </header>
         {{> divider}}
      </div>
      <div class="page-block">
         {{> hero title=hero.title text=hero.text}}
      </div>
      <div class="page-block">
         <main class="row g-0 plans adaptive">
            {{#each plans}}
            <div class="col plans__card">
               {{> card data=this}}
            </div>
            {{/each}}
         </main>
      </div>
      <div class="page-block">
         {{> divider}}
         <footer class="footer">
            <div class="container">
               {{> divider}}
               <div class="footer__inner">
                  <div class="footer__logo">
                     {{> logo}}
                     <span class="footer__copyright">Copyright 2023-2024</span>
                  </div>
                  {{#each footer}}
                  <div class="footer__content">
                     <span class="footer__title">{{title}}</span>
                     {{> footer list=links}}
                  </div>
                  {{/each}}
               </div>
            </div>
         </footer>
      </div>
   </div>
</div>