:root {
  --color-bg-page: #111827;
  --color-btn: #885ffb;
  --color-text: #9ca3af;
  --color-white: #fff;
  --color-divider: #253041;
  --border-radius-d: 10px;
  --border-radius-l: 24px;
  --border-radius-sm: 4px;
  --size-s: 14px;
  --size-d: 16px;
  --size-m: 18px;
  --size-l: 20px;
  --size-xl: 24px;
  --size-xxl: 32px;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-bold: 700;
  --space-d: 16px;
  --space-l: 32px;
  --space-sm: 6px;
  --hover-btn-opacity: 0.8;
  --hover-btn-bg-color: rgba(44, 44, 44, 0.1);
  --hover-btn-border-color: var(--color-btn);
  --hover-btn-cursor: pointer;
  scroll-behavior: smooth;

}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

body {
  background-color: var(--color-bg-page);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-divider);
}

.logo {
  padding: 8px 12px;
  background-color: var(--color-btn);
  border-radius: var(--border-radius-d);
  display: inline-block;
  border: 2px solid transparent;
  transition-property: opacity, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.logo:hover {
  opacity: var(--hover-btn-opacity);
  background-color: var(--hover-btn-bg-color);
  border-color: var(--hover-btn-border-color);
  cursor: var(--hover-btn-cursor);
}

.logo__link {
  font-weight: var(--weight-bold);
  font-size: var(--size-s);
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__link {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition-property: color, border-bottom;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  padding-bottom: 6px;
}

.nav__link:hover {
  color: var(--color-btn);
  border-bottom: 2px solid var(--color-btn);
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0 0;
}

.header__info-text .badge {
  padding: 2px 6px;
  background-color: rgba(136, 95, 251, 0.2);
  border-radius: var(--border-radius-sm);
  font-weight: var(--weight-bold);
  font-size: var(--size-s);
  line-height: 1;
  color: var(--color-btn);
  margin-right: var(--space-sm);
}

.header__info span {
  font-weight: var(--weight-regular);
  font-size: var(--size-s);
  line-height: 1;
  color: var(--color-white);
}

.hero {
  padding: 60px 0;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 74px 32px;
  background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  border-radius: var(--border-radius-l);
}

.hero__title {
  font-weight: var(--weight-bold);
  font-size: 36px;
  line-height: 1;
  color: var(--color-white);
}

.hero__desc {
  width: 100%;
  max-width: 600px;
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1.5;
  color: var(--color-text);
}

.hero__btn {
  padding: 12px 36px;
  background-color: var(--color-btn);
  border-radius: var(--border-radius-d);
  font-weight: var(--weight-bold);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-white);
  border: 2px solid transparent;
  transition-property: opacity, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.hero__btn:hover {
  opacity: var(--hover-btn-opacity);
  background-color: var(--hover-btn-bg-color);
  border-color: var(--hover-btn-border-color);
  cursor: var(--hover-btn-cursor);
}

.about__inner {
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  border-radius: var(--border-radius-l);
  padding: 32px;
}

.about__title {
  font-weight: var(--weight-bold);
  font-size: var(--size-xl);
  line-height: 1;
  color: var(--color-white);
  margin-bottom: var(--space-d);
}

.about__info {
  font-weight: var(--weight-regular);
  font-size: var(--size-s);
  line-height: 170%;
  color: var(--color-text);
}

.articles {
  padding: 60px 0;
}

.articles__inner {
  display: flex;
  gap: var(--size-xxl);
}

.articles__title {
  font-weight: var(--weight-bold);
  font-size: var(--size-xxl);
  line-height: 1;
  color: var(--color-white);
  margin-bottom: var(--space-l);
}

.card {
  width: 100%;
  max-width: 362px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  position: relative;
}

.card__img {
  width: 362px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-l);
}

.card__badge {
  position: absolute;
  top: 168px;
  right: 15px;
  font-weight: var(--weight-bold);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-white);
  padding: 2px 6px;
  background-color: rgba(251, 95, 95, 0.5);
  border-radius: var(--border-radius-sm);
}

.card__title {
  font-weight: var(--weight-bold);
  font-size: var(--size-m);
  line-height: 1;
  color: var(--color-white);
  word-break: break-word;
}

.card__text {
  font-weight: var(--weight-regular);
  font-size: var(--size-s);
  line-height: 1.5;
  color: var(--color-text);
  height: 84px;
  overflow: hidden;
}

.card__btn {
  padding: 8px 16px;
  background-color: var(--color-btn);
  border-radius: var(--border-radius-d);
  color: var(--color-white);
  text-transform: capitalize;
  border: 2px solid transparent;
  transition-property: opacity, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.card__btn:hover {
  opacity: var(--hover-btn-opacity);
  background-color: var(--hover-btn-bg-color);
  border-color: var(--hover-btn-border-color);
  cursor: var(--hover-btn-cursor);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 32px;
  border-top: 1px solid var(--color-divider);
}

.footer__links {
  display: flex;
  gap: var(--space-d);
}

.footer__link {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition-property: color, border-bottom;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.footer__link:hover {
  color: var(--color-btn);
  border-bottom: 2px solid var(--color-btn);
}

.footer__copyright {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-text);
}