:root {
  --color-bg: #fff;
  --color-form-bg: #563d7c;
  --color-white: #fff;
  --color-hover-link: #6114dd;
  --color-title: #212529;
  --color-secondary: #6c757d;
  --color-text: #343a40;
  --color-divider: #dee2e6;
  --color-divider-light: #d3dee9;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --size-s: 14px;
  --size-d: 16px;
  --size-xd: 18px;
  --size-l: 20px;
  --size-xl: 24px;
  --size-b: 36px;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-bold: 700;
  --border-radius-d: 12px;
  --border-radius-s: 4px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

body {
  background-color: var(--color-bg);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--color-white);
  height: 73px;
}

.header__inner {
  margin: 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-divider);
}

.header__logo-img {
  width: 24px;
  height: 24px;
}

.header__logo-img:hover {
  opacity: 0.9;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.header__nav-link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  text-decoration-color: transparent;
  transition: all 0.5s ease-in-out;
}

.header__nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-hover-link);
  color: var(--color-hover-link);
}

.hero {
  padding: 154px 0 0;
}

.hero__inner {
  display: flex;
  gap: var(--size-xl);
  align-items: center;
}

.info {
  width: 100%;
  max-width: 582px;
  text-align: start;
}

.info__title {
  font-weight: var(--weight-bold);
  font-size: 56px;
  line-height: 1.2;
  color: var(--color-title);
  margin-bottom: var(--size-l);
}

.info__text {
  width: 100%;
  max-width: 412px;

  font-weight: var(--weight-regular);
  font-size: var(--size-xl);
  line-height: 1.5;
  color: var(--color-title);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 406px;
  padding: 60px 48px;
  background-color: #f8f9fa;
  border: 1px solid var(--color-divider);
  border-radius: var(--border-radius-s);
}

.form__inputs-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form__input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
}

.form__input::placeholder {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-title);
}

.form__checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form__checkbox input {
  display: none;
}

.form__checkbox input~div {
  border: 1px solid #767676;
  border-radius: 4px;
  width: 13px;
  height: 13px;
}

.form__checkbox input:checked~div {
  border-color: var(--color-hover-link);
  background-color: var(--color-hover-link);
}

.form__checkbox label {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-title);
}

.form__btn {
  padding: 12px;
  background-color: #0d6efd;
  color: var(--color-white);
  border-radius: var(--border-radius-s);
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.form__line {
  border-bottom: 1px solid var(--color-divider);
}


.form__btn:hover {
  opacity: 0.8;
}

.form__btn:active {
  opacity: 0.6;
}

.form__info {
  font-weight: var(--weight-regular);
  font-size: var(--size-s);
  line-height: 1;
  text-align: center;
}

.updates {
  padding: 80px 0;
}

.updates__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);
  background-color: var(--color-white);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius-s);
}

.updates__title {
  font-weight: var(--weight-regular);
  font-size: var(--size-xl);
  line-height: 0.8;
}

.updates__content {
  display: flex;
  gap: 8px;
}

.updates__img {
  width: 32px;
  height: 32px;
}

.updates__info {
  border-bottom: 1px solid var(--color-divider);
  padding-bottom: var(--space-m);
  width: 100%;
}

.updates__username {
  font-weight: var(--weight-bold);
  font-size: 13px;
  line-height: 1.25;
  color: var(--color-secondary);
  margin-bottom: var(--space-m);
  display: block;
}

.updates__text {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1;
  color: var(--color-secondary);
}

.updates__link {
  font-weight: var(--weight-regular);
  font-size: var(--size-s);
  line-height: 1.37;
  color: var(--color-hover-link);
  transition: opacity 0.5s ease-in-out;
  transition: text-decoration-color 0.9s ease-in-out;
}

.updates__link:hover {
  opacity: 0.8;
  text-decoration-color: transparent;
}

.experience {
  padding: 0 0 80px 0;
}

.experience__inner {
  background-color: #f8f9fa;
  border-radius: var(--border-radius-s);
  padding: var(--space-l) 28px;
  position: relative;
}

.experience__title {
  font-weight: var(--weight-bold);
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: var(--space-l);
}

.experience__badge {
  position: absolute;
  top: -20px;
  right: -35px;
  background-color: #FF7347;
  border-radius: 70px;
  transform: rotate(30deg);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  padding: 12px 24px;
  color: var(--color-white);
}

.experience__list {
  display: flex;
  gap: var(--space-l);
}

.experience__content {
  width: 100%;
  max-width: 300px;
  background-color: var(--color-title);
  border-radius: var(--border-radius-d);
  padding: var(--space-xm);
}

.experience__content-title {
  font-weight: var(--weight-bold);
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-white);
  margin-bottom: var(--space-m);
  display: block;
}

.experience__content-text {
  font-weight: var(--weight-regular);
  font-size: var(--size-d);
  line-height: 1.38;
  color: #b1b1b1;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-divider);
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.footer__copyright {
  font-size: var(--size-s);
  color: var(--color-text);
}

.footer__title {
  display: block;
  font-size: var(--size-l);
  color: var(--color-title);
  margin-bottom: var(--space-l);
  font-weight: var(--weight-medium);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xm);
}

.footer__link {
  color: var(--color-text);
  font-size: var(--size-d);
  font-weight: var(----weight-regular);
  line-height: 1.2;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: all 0.5s ease-in-out;
}

.footer__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-hover-link);
  color: var(--color-hover-link);
}

@media all and (width <=768px) {
  .hero__inner {
    flex-direction: column;
    gap: 40px;
  }

  .info {
    text-align: center;
  }

  .info__text {
    margin: 0 auto;
  }

  .experience__list {
    flex-direction: column;
  }

  .experience__content {
    max-width: 100%;
  }
}

@media all and (width <=576px) {
  .experience__title {
    font-size: 40px;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__content {
    margin-bottom: 12px;
  }

  .footer__title {
    margin-bottom: 12px;
  }
}