@import '/css/var.css';

@font-face {
   font-family: 'Segment';
   src: url('/font/Segment-Regular.otf');
   font-weight: 400;
}

@font-face {
   font-family: 'Segment';
   src: url('/font/Segment-SemiBold.otf');
   font-weight: 600;
}

html,
body {
   height: 100%;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}

body {
   background-color: var(--color-bg);
   font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.container {
   width: 100%;
   max-width: 1030px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--space-l) 0;
   border-bottom: 1px solid var(--color-divider);
   position: fixed;
   width: 100%;
   max-width: 1000px;
   top: 0;
   left: calc(50% - (1000px / 2));
   background-color: var(--color-white);
   z-index: 100;
}

@media (max-width: 1000px) {
   .header {
      left: 0;
   }
}

.header__logo-img {
   width: 24px;
   height: 24px;
}

.header__logo-img:hover {
   opacity: 0.9;
}

.header__nav-list {
   display: flex;
   align-items: center;
   gap: var(--space-l);
}

.header__nav-link {
   color: var(--color-text);
   font-size: var(--size-d);
   text-decoration: none;
   text-decoration-color: transparent;
   transition: all 0.5s ease-in-out;
}

.header__nav-link:hover {
   text-decoration: underline;
   text-decoration-color: var(--color-hover-link);
   color: var(--color-hover-link);
}

.hero {
   padding: 154px 0 80px;
}

.hero__modal {
   position: fixed;
   bottom: 24px;
   right: 24px;
   height: 193px;
   width: 600px;
   padding: 18px;
   background: rgba(0, 0, 0, 0.75);
   border-radius: 18px;
   line-height: 150%;
   z-index: 3;
   display: none;
   font-size: 16px;
   color: var(--color-white);
}

.hero__modal-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#closeButton {
   background-color: var(--color-form-bg);
   padding: 8px 50px;
   border-radius: var(--border-radius);
   align-items: end;
   ;
   cursor: pointer;
   align-items: right;
   transition: opacity 0.2s ease-in-out;
}

#closeButton:hover {
   opacity: 0.8;
}

.hero__inner {
   display: flex;
   align-items: center;
   gap: 80px;
}

.hero__img {
   width: 500px;
   height: 500px;
   border-radius: var(--border-radius);
}

.hero__slider {
   position: relative;
}

.hero__slider-icon {
   position: absolute;
   top: calc(50% - 15px);
   background-color: var(--color-form-bg);
   width: 45px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--border-radius);
   color: var(--color-white);
   cursor: pointer;
   opacity: 0.6;
   z-index: 2;
}

.hero__slider-icon:hover {
   opacity: 0.8;
}

.hero__slider-icon--right {
   right: var(--space-m);
}

.hero__slider-icon--left {
   left: var(--space-m);
}

.hero__img {
   opacity: 0;
   transition: opacity 0.5s, transform 0.5s;
   transform: scale(0.8);
}

.hero__img.active {
   opacity: 1;
   transform: scale(1);
}

.hero__content {
   display: flex;
   flex-direction: column;
   max-width: 420px;
   gap: var(--space-l);
   align-items: flex-start;
}

.hero__title {
   font-weight: var(--weight-title);
   font-size: var(--size-b);
   line-height: 1.2;
   letter-spacing: -0.8px;
   color: var(--color-title);
}

.hero__title {
   /* font-size: 2.4cqw; */
}

.hero__desc {
   font-weight: var(----weight-regular);
   font-size: var(--space-xm);
   line-height: 1.7;
   color: var(--color-text);
}

.hero__btn {
   padding: var(--space-m) var(--space-xm);
   background-color: var(--color-secondary);
   border-radius: 4px;
   color: var(--color-white);
   transition: opacity 0.3s ease-in-out;
}

.button:hover {
   opacity: 0.8;
}

.blog__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: var(--size-b);
   border-bottom: 1px solid var(--color-divider);
   padding-bottom: 40px;
}

.card {
   display: flex;
   flex-direction: column;
   gap: var(--space-l);
   align-items: flex-start;
}

.card__img {
   width: 64px;
   height: 64px;
   border-radius: var(--border-radius);
   cursor: pointer;
}

.card__title {
   font-weight: var(--weight-title);
   font-size: 31px;
   line-height: 1;
   color: var(--color-title);
}

.card__desc {
   font-weight: var(----weight-regular);
   font-size: var(--space-xm);
   line-height: 1.7;
   color: var(--color-text);
   width: 100%;
   max-width: 288px;
   height: 108px;
   overflow: hidden;
}

.card__link {
   font-weight: var(----weight-regular);
   font-size: 16px;
   line-height: 1;
   text-decoration-color: underline;
   color: var(--color-hover-link);
   transition: opacity 0.5s ease-in-out;
   transition: text-decoration-color 0.9s ease-in-out;
}

.card__link:hover {
   opacity: 0.8;
   text-decoration-color: transparent;
}

.form {
   padding: 80px 0;
}

.form__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
   background-color: var(--color-form-bg);
   padding: 24px;
   border-radius: 8px;
}

.form__title {
   font-weight: var(----weight-regular);
   font-size: 24px;
   line-height: 0.67;
   color: var(--color-white);
   margin-bottom: var(--space-m);
}

.form__btn {
   padding: 16px 76px;
   width: 100%;
   min-width: 240px;
   background: var(--color-white);
   border-radius: 5px;
   font-weight: var(----weight-regular);
   font-size: var(--size-xd);
   line-height: 1;
   color: var(--color-title);
   transition: opacity 0.3s ease-in-out;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   padding: var(--space-l) 0;
   border-top: 1px solid var(--color-divider);
}

.footer__logo {
   display: flex;
   flex-direction: column;
   gap: var(--space-l);
}

.footer__copyright {
   font-size: var(--size-s);
   color: var(--color-text);
}

.footer__title {
   display: block;
   font-size: var(--size-l);
   color: var(--color-title);
   margin-bottom: var(--space-l);
   font-weight: var(--weight-title);
}

.footer__list {
   display: flex;
   flex-direction: column;
   gap: var(--space-xm);
}

.footer__link {
   color: var(--color-text);
   font-size: var(--size-d);
   font-weight: var(----weight-regular);
   line-height: 1.2;
   text-decoration: none;
   text-decoration-color: transparent;
   transition: all 0.5s ease-in-out;
}

.footer__link:hover {
   text-decoration: underline;
   text-decoration-color: var(--color-hover-link);
   color: var(--color-hover-link);
}



/* Pulse */
@-webkit-keyframes hvr-pulse {
   25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }

   75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
}

@keyframes hvr-pulse {
   25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
   }

   75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
   }
}

.hvr-pulse {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
   -webkit-animation-name: hvr-pulse;
   animation-name: hvr-pulse;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

.blog__inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

@media all and (width <=1200px) {
   .header {
      margin: 0 15px;
   }

   .hero__inner {
      flex-direction: column;
   }

   .hero__content {
      text-align: center;
   }

   .hero__btn {
      margin: 0 auto;
   }
}

@media all and (width <= 870px) {
   .form__inner {
      flex-direction: column;
      text-align: center;
   }
}

@media all and (width <= 800px) {
   .blog__inner {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media all and (width <= 600px) {
   .blog__inner {
      grid-template-columns: 1fr;
   }

   .blog__inner {
      justify-items: center;
   }

   .card {
      align-items: center;
   }

   .footer__inner {
      flex-direction: column;
      text-align: center;
   }

   .footer__logo {
      margin-bottom: 12px;
   }

   .footer__content {
      margin-bottom: 12px;
   }

   .footer__title {
      margin-bottom: 12px;
   }
}