{{#with data}}
<div class="blog">
   <strong class="blog__title">{{title}}</strong>
   <div class="blog__info">
      {{date}} by
      <span class="blog__author">{{author}}<span>
   </div>
   <p class="blog__text">{{description}}</p>
   <a href="#!">Continue reading</a>
</div>
{{/with}}