<div class="archives">
   <strong class="archives__title">{{title}}</strong>
   <div class="archives__links">
      {{#each data}}
      <a href="{{url}}">{{text}}</a>
      {{/each}}
   </div>
</div>