<ul class="nav {{#if isVertical}}nav__vertical{{/if}} {{#if isAlineRight}}justify-content-end{{/if}}">
   {{#each list}}
   <li class="nav__list">
      <a class="nav__link" href="{{url}}">{{text}}</a>
   </li>
   {{/each}}
</ul>