<div class="updates__content">
   <img class="updates__img" src="https://via.placeholder.com/32x32"
      alt="photo username" width="32" height="32">
   <div class="updates__info">
      <span class="updates__username">{{nickname}}</span>
      <p class="updates__text">{{description}}</p>
   </div>
</div>